# Build directories
build

# Binaries directories
dist
*.egg-info
__pycache__/
*.pyc

# macOS files
.DS_Store

# Jypyter notebook files
.ipynb_checkpoints

# Backup files
*~

test_models/
output/
data/
attractor_id/__pycache__/
test.py
*.pth
attractor_id.egg-info
concatenated_results/
paper_figures_with_models/